<div class="side-bar">

    <div class="header-content">
      <img src="../assets/me.jpg" alt="Me">
  
      <div class="description-text">
  
          <h1>Hi! I am <span>Krunoslav Kovac.</span></h1>
          <h4>Junior Software Developer.</h4>
  
          <div class="social-media">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-github-square"></i>
          </div>
  
      </div>
    </div>
  
    <ul class="navigation">
      <li><a href="#">About Me</a></li>
      <li><a href="#">Work Expirience</a></li>
      <li><a href="#">Education</a></li>
      <li><a href="#">Skills</a></li>
      <li><a href="#">Interests</a></li>
    </ul>
  
    <footer>Copyright Kruno</footer>
  </div>